<h3>User Data</h3>
<p>User data, like usernames, passwords, preferences, and users followed are kept locally on the server.</p>
<p>Passwords are hashed on user creation with passlib, which can be found <a href="https://passlib.readthedocs.io/en/stable/">here</a>.</p>
<p>No user data will be ever distributed to third parties, and will only be accessed by administrators if manual correction is needed.</p>
<h3>Cookie Policy</h3>
<p>This site stores cookies on your local machine for the express purpose of user authentication. Feel free to inspect them.</p>
<p>The module used to do this is called Flask-Login and can be found <a href="https://flask-login.readthedocs.io/en/latest/">here</a>.</p>
<p>The data in these cookies is never used for anything else nor ever distributed to third parties.</p>
<br/>
<h3>General Logging</h3>
<p>Like any other web service, this one generates logs with the IP addresses of users accessing it. These logs may be periodically inspected for debugging purposes.</p>
<p>As with cookies, no content from these logs will ever be distributed publicly nor to third parties.</p>
<br/>
<h3>Why should I trust you?</h3>
<p>Good question. You don't have to! All source code for Localizer can be found here: <a href="https://github.com/SomethingGeneric/localizer">GitHub</a></p>